{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["./src"]
      }
    }
  },
  "rules": {
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off"
  }
}
